#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Git submodules in this repo
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

[submodule "dotsync"]
	path = dotsync
	url = https://github.com/dotphiles/dotsync.git
	branch = master
[submodule "zsh/dotzsh"]
	path = zsh/dotzsh
	url = https://github.com/jayghickman/dotzsh.git
	branch = master
[submodule "vim/dotvim"]
	path = vim/dotvim
	url = https://github.com/jayghickman/dotvim.git
	branch = master
